@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

body {
    padding: 5vh 7vw;
    overflow-x: hidden;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --very-pale-cyan: hsl(193, 100%, 96%);
}

.desktop__bg__img {
    background-image: url(images/bg-hero-desktop.svg);
    background-color:var(--very-pale-cyan);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    width: 100vw;
    z-index: -1;
    max-height: 1100px;
}

.mobile__bg__img { display: none; }

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo { 
    width: 180px; height: 29px; 
    margin: auto 0;
}

h1, h2 { font-family: 'Poppins', sans-serif; }
h2 { padding-bottom: 15px; }
p {color: var(--grayish-blue); }

.header { 
    display: flex; 
    margin-bottom: 200px;
}

.header p { color: black; }

.header__content {
    margin: auto 0;
    width: 42%;
}

.header__img {
    width: 53%;
    margin: auto 0 auto auto;
}

.card {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 50px 10px 50px 100px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

.card:nth-of-type(2) { flex-direction: row-reverse; }

.card__content {
    margin: auto 0;
    width: 500px;
}

.card__img { width: 350px; }

.floating__card {
    position: relative;
    text-align: center;
    width: 55vw;
    margin: 0 auto;
    padding: 70px 0;
    border-radius: 10px;
    transform: translateY(50%);
    background-color: #fff;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    z-index: 2;
}

.big {
    transform: scale(1.5);
    font-size: 10px;
} 

.footer__bg {
    background-color: var(--dark-cyan);
    position: absolute;
    left: 0px; right: 0px;
    height: 500px;  width: 100vw;
    z-index: -1;
}

.footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 24vw);
    grid-gap: 10vw;
    padding-top: 200px;
    font-size: 14px;
    color: var(--very-pale-cyan);
    height: 450px;
}

.footer .logo {
    display: block;
    margin-bottom: 30px;
}

.huddle__info {
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-template-rows: repeat(3, auto);
    height: 180px;
}

.info__icons { 
    grid-column: 1 / 2;
    transform: scale(.9); 
}

.resource__links, 
.social__links {
    display: flex;
    margin-top: 60px;
    list-style: none;
}

.resource__links li a, 
.social__links li a {
    text-decoration: none;
    color: var(--very-pale-cyan);
}

.resource__links {
    justify-content: space-between;
    height: 100px; width: 100%;
}

.resource__links li { margin-bottom: 20px; }

.social__links li a { 
    display: inline-flex;
    justify-content: center;
    border: .5px solid var(--very-pale-cyan);
    border-radius: 50%;
    height: 30px; width: 30px;
    cursor: pointer;
    margin-right: 15px;
}

.social__links li a:hover {
    color: var(--dark-cyan);
    background-color: var(--very-pale-cyan);
}

.social__links li i { transform: translateY(25%); }

.copyright {
    position: absolute;
    font-size: 10px;
    right: 0px; bottom: 0px;
}

.btn {
    font-family: inherit;
    font-weight: 700;
    background-color: var(--pink);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    cursor: pointer;
}

.btn:focus { outline: none; }

.white-btn {
    background-color: white;
    color: black;
}

@media screen and (max-height: 1630px) {
    .desktop__bg__img { max-height: 700px; }
}

@media screen and (max-width: 1000px) {
    h2 { font-size: 22px; }
    p { font-size: 16px; }
    .card { padding: 35px 20px 35px 20px; }
    .card__content { width: 400px; }
    .big { transform: scale(1.3); }
}

@media screen and (max-width: 910px) {
    h1 { font-size: 28px; }
    p { font-size: 14px; }
    .header__img { max-width: 414px; max-height: 296px; }
    .card__img { width: 300px; }
}

@media screen and (max-width: 768px) {
    .resource__links { 
        flex-direction: column;
        text-align: center;
    }

    .resource__links li { margin-bottom: 10px; }

    .footer { 
        grid-template-columns: repeat(3, 28vw);
        grid-gap: 4.5vw; 
    }

    .copyright { font-size: 8px; }
}

@media screen and (max-width: 700px) {
    html { text-align: center; }
    body { padding: 5vh 5vw; }
    h2 { padding: 20px 0; }
    .header { 
        flex-direction: column;
        margin-bottom: 100px;
    }
    .header__content, .header__img { width: 100%; }
    .header__img {  margin: 0 auto;}
    .header__content .btn { margin-bottom: 25px; }
    /* .desktop__bg__img { display: none; } */

    .card__content, .card__img {
        margin: 0 auto;
        /* max-width: 250px; Put this in a smaller media query*/ 
    }

    .card, .card:nth-of-type(2) {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    .floating__card {
        width: 100%;
        padding: 30px 0;
    }

    .footer__bg {height: 750px; }
    .footer { 
        height: 700px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .huddle__info { max-width: 350px; }
    .huddle__info, .resource__links { text-align: left; }
    .resource__links {  margin: 30px 0px;}
    .social__links { margin: 60px auto 0; }
    .copyright { right: 28vw; }
}